:root{
    --background-color: rgb(216, 216, 58);
}
*{
    margin: 0;
}
/*HEADER*/
header .mainbar{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 44px auto;
    grid-template-rows: 44px 20px;
}
header{
    display: grid;
    grid-template-columns: auto 88px;
}
.buttons{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 44px 44px;
    background-color: var(--background-color);
    justify-items: center;
}
header h2{
    align-self: end;
}
header span{
    font-size: 0.8em;
}
header img,
header button{
    grid-row: span 2;
    align-items:center;
}

#twocolor{
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/*NAV*/
nav{
    background-color: black;
}

.menulinks a{
    display: block;
    text-decoration: none;
    color:white;
    padding: .75rem 2vw;
}
.menulinks a:hover{
    background-color: rgb(68, 68, 68);
}
.menulinks{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
}
.currentpage{
    background-color: rgb(68, 68, 68);
}

#hamburger.open{
    display: none;
}

#hamburger{
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}
#hamburger.open{
    display: block;
}
#hamburger::before{
    content: "≡";
}
#hamburger.open::before{
    content: "X";
}
nav{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul{
    overflow: hidden;
}
nav.open{
    grid-template-rows: 1fr;
}

/*MAIN*/
.main-buttons{
    display: flex;
    justify-content: center;
}
.main-buttons button{
    margin: 1em;
    width: 7em;
    
}
main{
    margin: 0 auto;
    max-width: 700px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
}
.grid section{
    max-width: 300px;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
    text-wrap: wrap;
	margin: 0;
	padding: 0.25rem;
    text-align: start;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: #bbb;
}

section{
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
    margin: 1em auto;
    padding-bottom: .75em;
}
section a{
    padding: .5rem 2rem;
}
section img{
    margin: 0 auto;
    width: 300px;
  height: 250px;
  object-fit: cover;
}
/*FOOTER*/
footer{
    background-color: var(--background-color);
    display: grid;
}
footer div{
    margin: 1em;
}
.linklogos{
    margin: 0;
    text-align: center;
    align-self: center;
}
.linklogos img{
    padding-left: 1em;
}
