@media (min-width:641px){
    section{
        grid-template-columns: 300px 300px;
        max-width: 600px;
    }
    section figure{
        grid-column: 1/2;
        grid-row: 1/5;
        overflow: hidden;
    }
    section h2,
    section address,
    section p,
    section button{
        margin-left: 1rem;
    }
    h2,address{
        align-self: self-end;
    }
    figure img:hover{
        animation-name: zoom;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }
    @keyframes zoom{
        50%{
            transform: scale(1.1);
            
        }
        100%{
            transform: scale(1);
        }
    }
}