:root{
    --background-color: rgb(216, 216, 58);
}
*{
    margin: 0;
}
/*HEADER*/
header .mainbar{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 44px auto;
    grid-template-rows: 44px 20px;
    padding-bottom: 1em;
}
header{
    display: grid;
    grid-template-columns: auto 88px;
}
.buttons{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 44px 44px;
    background-color: var(--background-color);
    justify-items: center;
}
header h2{
    align-self: end;
}
header span{
    font-size: 0.8em;
}
header img,
header button{
    grid-row: span 2;
    align-items:center;
}

#twocolor{
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/*NAV*/
nav{
    background-color: black;
}

.menulinks a{
    display: block;
    text-decoration: none;
    color:white;
    padding: .75rem 2vw;
}
.menulinks a:hover{
    background-color: rgb(68, 68, 68);
}
.menulinks{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
}
.currentpage{
    background-color: rgb(68, 68, 68);
}
#hamburger{
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}
#hamburger.open{
    display: block;
}
#hamburger::before{
    content: "≡";
}
#hamburger.open::before{
    content: "X";
}
nav{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul{
    overflow: hidden;
}
nav.open{
    grid-template-rows: 1fr;
}
/*MAIN*/
/*HERO*/
main >a{
    text-decoration: none;
    color: black;
}
main h1{
    padding-left: 2em;
}
picture{
    display: block;
    width: 100%;
    text-align: center;
}
picture img{
    object-fit: cover;
    width: 90%;
    margin: 0 auto;
    max-height: 500px;
    height: auto;

}
/*CARDS*/
.Cards{
    display: flex;
    flex-direction: column;
}
.forecast p{
    grid-column: span 2;
    padding: 1em;
    font-size: 1.3rem;
    text-align: center;   
}
.Cards div{
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    border: 5px solid black;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
}
.Cards div h2{
    grid-row: 1/2;
    grid-column: span 2;
    align-content: center;
    background-color: rgb(139, 139, 139);
    height: 40px;
    padding-left: .5em;
}
.Cards .event p,
.event h3,
.event a{
    padding-left: 1rem;
}
.event img{
    justify-self: center;
    width: 100%;
}
.event{
    display: grid;
    grid-template-columns: minmax(70px,170px) 1fr;
}
#icon{
    text-align: center;
}
#icon img{
    grid-column: 1/2;
    width: 50%;
}
/*BUSINESSES*/
#businesses{
    display: flex;
    flex-direction: column;
}
#businesses .buscard{
    margin: 1em auto;
    background-color: rgb(197, 194, 194);
    display: grid;
    grid-template-columns: minmax(70px,170px) 1fr;
    max-width: 450px;
    min-width: 300px;
    padding: .25em;
    border-radius: 10px;
}
.buscard h3{
    grid-column: span 2;
    padding: .3em 0;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}
.buscard img{
    grid-column: 1/2;
    text-align: center;
    width: 100%;
}
.buscard div{
    grid-column: 2/3;
    padding: 0 1em;
}
.buscard a{
    color: #520000;
    width: 100%;
    text-wrap: wrap;
}
/*FOOTER*/
footer{
    background-color: var(--background-color);
    display: grid;
    margin-top: 1rem;
    text-align: center;
}
footer div{
    margin: 1em;
}
.linklogos{
    margin: 0;
    text-align: center;
    align-self: center;
}
.linklogos img{
    padding-left: 1em;
}